@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
  /* MUI STYLESHEETS ARE IN COMPONENT  */

  /* Home Page StyleSheets */
  /* Global Stylesheets Start */
body {
  margin: 0;
  font-family:'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #222222;

  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


span{
  text-decoration: underline;
  text-decoration-color: #DEBF79;
  text-underline-offset: 20px;
  text-decoration-thickness: 4px;
}
/* Global Stylesheets end */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.headingOneHome{
  color: white;
  font-size: 60px;
}
.mainBody{
  display: flex;
  gap: 2%;
}
.paragraphUnderHeadingOneHome{
  font-size: 17.5px;
  color: white;
}
/* Headings stylesheets start */
.h1InsideHeadings{
  font-size: 3vw; 
  margin-bottom: 0;
}
.pInsideHeadings{
  color: #858585;
  font-size: 1.3vw;
  width: 75%;
  line-height: 20px;
  text-align: left;
  word-spacing: .5vw;

  border-radius: 0;

}


/* Home Page Stylesheets end */

/* Contact Page Stylesheets start */
  .contact{
    display: flex;
    margin: 0%;
  }
 /* Left stylesheets start*/

.Left{
  display: flex; 
  height: 100vh; 
  width: 50vw; 
  flex-direction: column;
  justify-content: space-between;
}
 
.logoAndHome{
  display: flex;
  justify-content: space-between;
}
.mainText{
  font-size: 17.5px;
  width: 40vw ;
  height: 30vh;
  overflow: scroll;
  
}
.headingOne{
  font-size: 4rem ;
}
.headingOneAndMainText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 5vw;
} 

.LogoContactPage{
  align-self: start;
  margin-left: 3vw;
  margin-top: 5.8vh;
}
/* Left stylesheets end */
/* Right stylesheets start */
.Right{
  display: flex; 
  height: 100vh; 
  width: 50vw; 
  background-color: white; 
  flex-direction: column;
  justify-content: space-between;

}
.homelinkMobileView{
  display: none;
}
.headingTwo{
  font-size: 2rem ;
}
.mainForm{
  display: flex;
  justify-content: center;
}
.firstAndLast{
  display: flex;
  gap: 10px;
  margin-bottom: 1vw;
}
.titleAndEmail{
  display: flex;
  gap: 10px;
  margin-bottom: 1vw;
}
.message{
  display: flex;
  margin-bottom: 1vh;
}
.buttonContainer{
  display: flex;
  justify-content: center;
}
/* Right stylesheets end */

/* MEDIA QUERIES*/

@media only screen and (max-width: 1000px){
  /* Home Page mediaqueries Start */
  .logoHomePage{
    width: 60vw;
    height: 100%;
  }
  .mainBody{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

  }
  .Box.MuiBox-root.css-1bj60pa{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95vw;
    height: calc(100vw * (1/1));


  }
  .LogoContactPage{
    display: block;
    width: 50%; 
    height: auto;
  }
  .pInsideHeadings{
    font-size: 5vw;
    line-height: 5vw;
  }
  .h1InsideHeadings{
    font-size: 10vw;
   
  }
  .paragraphUnderHeadingOneHome{
    font-size: 5vw;
  }
  .imgInsideHeadings{
    height: 13vh;
  
    object-fit: cover;

  }
  /* Home Page media queries end */
  /* Contact Page media queries start */
  .contact{
    display: flex;
    flex-direction: column;
  }
  .Right{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    
  }
  .Left{
    display: flex;
    height: 70vh;
    width: 100vw;
    flex-direction: column;
    justify-content: start;
    
   
  }

 
  .firstAndLast{
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .titleAndEmail{
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .headingOneHome{
    font-size: 12vw;
    margin-left: 2vw;
  }
  .headingOneAndMainText{
    margin-top: 3vh;  
  }

  .homelinkMobileView{
    display: inline;
  }
  .homelinkDesktopView{
    display: none;
  }
  .headingTwo{
    margin-bottom: 20vw;
    font-size: 10vw;
  }
  .mainText{
    width: 90vw;
  }
    /* Contact Page media queries end */

}
@media only screen and (max-width: 355px){  
  .imgInsideHeadings{
    height: 10vw;
  }
  .pInsideHeadings{
    font-size: 3vw;
    line-height: 3vw;
    outline: 2px solid red;
    word-spacing: 0;

  }
  
}  
